<div id="new_rsvp">
<div class="col-md-6">
<%= simple_form_for @rsvp, remote: true do |f| %>
<% if @rsvp.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
   <ul>
      <% @rsvp.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="form-inputs">
   <%= f.hidden_field :user_id, value: current_user.id, class: 'form-control' %>
   <div class="row">
      <div class="col-md-6"> 
         <%= f.input :name, class: 'form-control' %>
      </div>
      <div class="col-md-6"> 
        
         <%= f.radio_button :attending, "attending", id: 'show'  %> I would love to attend
             
         <%= f.radio_button :attending, "not_attending", id: 'hide' %> Unfortunatley we are unable to attend 
      </div>
   </div>
   <div id="extras" style='display:none;'>
    <div class="row">
      <div class="col-md-6"> 
         <%= f.input :preference, class: 'form-control' %>
      </div>
      <div class="col-md-6"> 
         <%= f.input :other, class: 'form-control' %>
      </div>
    </div>
   </div>
   <div class="actions">
      <%= f.submit %>
   </div>
</div>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#hide").click(function(){
        $("#extras").hide(500);
    });
    $("#show").click(function(){
        $("#extras").show(500);
    });
});
</script>